:root{
    --primary-color: #7264D6;
    --heading-color: #212832;
    --text-color: #696D76;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
}

body::-webkit-scrollbar {
  display: none;
}

/* Common */
a, button{
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}

.container{
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn{
    --height: 58px;

    display: inline-block;
    min-width: 149px;
    height: var(--height);
    color: #FFF;
    font-weight: 600;
    line-height: var(--height);
    text-align: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    cursor: pointer;
    transition: color, border, background;
    transition-duration: .25s;
}

.btn:hover{
    color: var(--primary-color);
    border: 1px solid currentColor;
    background: transparent;
}

.btn.btn-1{
    --height: 52px;

    min-width: 113px;
    border: 1px solid var(--heading-color);
    border-radius: 6px;
    background: var(--heading-color);
}

.btn.btn-1:hover{
    color: var(--heading-color);
    border: 1px solid currentColor;
    background: transparent;
}

.label{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    color: #696D77;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.label::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 2px;
    background: currentColor;
}

.heading{
    margin-top: 12px;
    color: var(--heading-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}

.desc{
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

/* Header Top */
.header{
    padding-top: 42px;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top__left{
    display: flex;
    align-items: center;
    column-gap: 46.82px;
}

.navbar__list{
    display: flex;
}

.navbar__link{
    color: var(--text-color);
    padding: 8px 23.5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    transition: text-shadow .25s;
}

.navbar__link--active,
.navbar__link:hover{
    color: var(--heading-color);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active{
    position: relative;
}

.navbar__link--active::after{
    position: absolute;
    bottom: 0;
    left: 23.5px;
    content: '';
    display: inline-block;
    width: calc(100% - 47px);
    height: 1px;
    margin: 0 auto;
    border-radius: 0.5px;
    background: var(--primary-color);
}

.login-btn{
    color: var(--heading-color);
    padding: 8px;
    margin-right: 20px;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Hero */
.hero{
    margin-top: 76px;
}

.hero__inner{
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.hero__content{
    width: 46%;
}

.hero__heading{
    margin-top: 12px;
    font-size: 6rem;
    line-height: 1.17;
}

.hero__heading span{
    color: var(--primary-color);
}

.hero__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 8px 8px 8px 23px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
}

.hero__input{
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1.6rem;
    margin-right: 20px;
}

.hero__note{
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; /* 171.429% */   
}

.phone{
    position: relative;
    width: 296px;
    height: 562px;
    padding: 40px 11px 30px;
    border-radius: 40px;
    border: 12px solid var(--heading-color);
    background: #FFF;
}

.phone::before{
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: inline-block;
    width: 144px;
    height: 36px;
    border-radius: 0 0 18px 18px;
    background: #3C2F60;
}

.card{
    position: relative;
    width: 250px;
    height: 150px;
    padding: 16px;
    color: #FFF;
    border-radius: 20px;
    background: linear-gradient(76deg, #8679E4 11.52%, #7264D6 70.78%); 
    overflow: hidden;
}

.card__row{
    display: flex;
}

.card__row + .card__row{
    margin-top: 32px;
}

.card span{
    display: inline-block;
}

.card__balance-label{
    position: relative;
    font-size: 1.4rem;
    z-index: 1;
    line-height: normal;
}

.card__balance-amount{
    margin-top: 2px;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.card__logo{
    position: relative;
    display: flex;
    margin-left: auto;
}

.card__holder{
    position: relative;
    z-index: 1;
    margin-left: 12px;
}

.card__label{
    font-size: 1rem;
    line-height: normal;
}

.card__text{
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
}

.card__deco-top{
    position: absolute;
    left: 1px;
    top: 0;
}

.card__deco-bottom{
    position: absolute;
    right: 0px;
    bottom: 0;
}

.transaction{
    margin-top: 24px;
}

.transaction__row{
    display: flex;
    align-items: center;
}

.transaction__row + .transaction__row{
    margin-top: 28px;
}

.transaction__title{
    color: #31456A;
    font-size: 1.6rem;
    font-weight: 600;
}

.transaction__top-icon{
    display: block;
    margin-left: auto;
}

.transaction__list{
    margin-top: 28px;
}

.transaction__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.transaction__row:nth-child(1) .transaction__img{
    background: rgba(74,181,227,0.1);
}

.transaction__row:nth-child(2) .transaction__img{
    background: rgba(218, 100, 100, 0.1);
}

.transaction__row:nth-child(3) .transaction__img{
    background: rgba(67, 159, 144, 0.1);
}

.transaction__row:nth-child(4) .transaction__img{
    background: rgba(114, 100, 214, 0.1);
}

.transaction__info{
    margin-left: 14px;
}

.transaction__name,
.transactions__amount{
    color: var(--heading-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.transaction__desc,
.transactions__date{
    margin-top: 6px;
    font-size: 1rem;
    line-height: 1; /* 100% */
}

.transactions__meta{
    margin-left: auto;
    text-align: right;
}

.transactions__meta span{
    display: block;
}

.deposit{
    position: absolute;
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 10px 14px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
    animation: up-down 2s ease-in-out infinite;
}

.deposit__title{
    margin-left: 8px;
    color: #31456A;
    font-weight: 600;
}

.deposit__value{
    margin-left: 19px;
    color: #4AB5E3;
}

.interest{
    position: absolute;
    top: 115px;
    left: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #DA6464;
    animation: scale 2s ease-in-out infinite;
}

.interest__value{
    font-size: 4.4rem;
    font-weight: 600;
}

.secured-fund{
    position: absolute;
    bottom: 49px;
    right: -86px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    background: #439F90;
    color: #FFFFFF;
    padding: 20px 14px 22px;
    border-radius: 10px;
    animation: up-down 2s ease-in-out infinite;
}

.secured-fund span{
    display: block;
}

.secured-fund__value{
    font-size: 1.4rem;
    font-weight: 600;
}

.secured-fund__text{
    margin-top: 5px;
    font-size: 0.8rem;
}

@keyframes up-down{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}

@keyframes scale {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

/* How it works */
.how-it-works{
    margin-top: 80px;
    padding: 80px 0;
}

.how-it-works__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.how-it-works__media{
    position: relative;
    width: 39%;
    padding-top: 73px;
}

.how-it-works__bg{
    display: block;
    margin-left: -7px;
}

.how-it-works__thumb{
    position: absolute;
    bottom: 0;
    width: 456px;
    height: 619px;
}

.how-it-works__content{
    width: 40%;
}

.how-it-works__list{
    margin-top: 70px;
}

.how-it-works__item-title{
    margin-top: 30px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; /* 145.455% */
}

.how-it-works__item-desc{
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.how-it-works__deco-logo{
    position: absolute;
    top: 76px;
    right: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: var(--primary-color);
    animation: up-down 2s ease-in-out infinite;
}

.how-it-works__deco--wrapper{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #F8FBFE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-it-works__deco-message{
    position: absolute;
    bottom: 96px;
    right: -107px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px 30px 15px 15px;
    border-radius: 8px;
    background: #FFFDFA;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
    animation: up-down 2s ease-in-out infinite;
}

.how-it-works__deco--icon{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4AB5E3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-it-works__deco--icon .how-it-works__deco--wrapper{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-it-works__deco--checked{
    margin-top: -4px;
    width: 10px;
    height: 6.5px;
    border: 1px solid #4AB5E3;
    rotate: -45deg;
    border-top: none;
    border-right: none;
}

.how-it-works__deco-message-info span{
    display: block;
}

.how-it-works__deco-message-title{
    color: var(--heading-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.how-it-works__deco-message-desc{
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    margin-top: 5px;
}

/* Features */
.features{
    padding: 80px 0;
}

.features__row{
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.features__row + .features__row{
    margin-top: 160px;
    justify-content: space-between;
}

.features__content{
    width: 40%;
}

.features__list{
    margin-top: 28px;
    margin-bottom: 38px;
}

.features__item{
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-top: 18px;
    color: var(--heading-color);
}

.features__item::before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--primary-color);
}   

.features__media{
    position: relative;
}

.features__row:nth-child(2) .features__media{
    padding-top: 169px;
}

.features .features__btn{
    --height: 58px;
    min-width: 149px;
}

.features__card{
    padding: 38px;
    width: 482px;
    height: 322px;
}

.features__card .card__row:nth-child(2){
    margin-top: 98px;
}

.features__card .card__balance{
    display: flex;
    flex-direction: column;
}

.features__card .card__balance-label{
    font-size: 2.4rem;
}

.features__card .card__balance-amount{
    margin-top: 10px;
    font-size: 3.2rem;
    z-index: 1;
}

.features__card .card__label{
    font-size: 2rem;
}

.features__card .card__text{
    margin-top: 4px;
    font-size: 2.2rem;
}

.features__card .card__deco-top{
    position: absolute;
    top: 0px;
    left: 0px;
}

.features__card .card__deco-bottom{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.income{
    position: absolute;
    right: -88px;
    bottom: -55px;
    width: 120px;
    padding: 14px 15px 15px;
    border-radius: 16px;
    background: #439F90;
    color: #FFF;
    animation: scale 2s ease-in-out infinite;
}

.income__icon--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #FFF;
}

.income__icon{
    width: 14.279px;
    height: 14.479px;
}

.income span{
    display: block;
    line-height: normal;
}

.income__text{
    margin-top: 14px;
    font-size: 1.2rem;
}

.income__amount{
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 600;
}

.features .transaction{
    position: absolute;
    top: -48px;
    right: -88px;
    width: 276px;
    font-family: 'Inter', sans-serif;
    line-height: normal;
    margin-top: 0;
    padding: 23px 13px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
    animation: up-down 2s ease-in-out infinite;
}

.features .transaction__img{
    background: rgba(218, 100, 100, 0.1) !important;
}

.features .transaction__name{
    font-size: 1.2rem;
}

.features .transaction__amount{
    font-size: 1.6rem;
    font-weight: 400;
}

.features .transaction__date{
    margin-top: 3px;
}

.features__bg{
    display: block;
}

.features__img{
    position: absolute;
    left: 29px;
    bottom: 0px;
    width: 413px;
    height: 600px;
    object-fit: cover;
}

.features__payment--title{
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.features__payment{
    position: absolute;
    right: -74px;
    bottom: 57px;
    padding: 28px;
    border-radius: 4px;
    background-color: #FFF;
    filter: drop-shadow(0 44px 48px rgba(0, 0, 0, 0.10));
}

.features__payment--list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 20px;
}

.features__payment--item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #F2F2FA;
}

.features__payment--item:nth-child(6){
    background-color: #F9EA63;
    transition: opacity .25s;
}

.features__payment--item:nth-child(6):hover{
    opacity: 0.7;
    cursor: pointer;
}

.features__payment--item:nth-child(6):before,
.features__payment--item:nth-child(6)::after{
    position: absolute;
    content: '';
    display: inline-block;
    width: 2px;
    height: 15px;
    background-color: var(--heading-color);
}

.features__payment--item:nth-child(6)::after{
    rotate: 90deg;
}

.features__deco{
    position: absolute;
    bottom: 222px;
    right: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--primary-color);
    animation: scale 2s ease-in-out infinite;
}









